#title{
   display: inline-block;
   float: left;
   border: 2px solid;
   margin-right: 15px;
   margin-bottom: 5px;
   padding-left: 5px;
   padding-right: 10px;
   text-align: center;
   font-size: 1.3em;
   background: #ffffb2;
   border-radius: 10px;
 }

 #title-banner h1{
   font-size: 4em;
   text-align: center;
   border-bottom: 4px solid;
   margin-bottom: 85px;
   padding-bottom: 25px;
 }

 html, body{
   background: #EEEEEE;
   height: 100%
 }

 main{
   width: 80%;
   margin: auto;
 }

 p{
   font-family: sans-serif;
 }

#tab{
   padding: 20px;
}


#container{
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
}

#footer{
  height: 330px;
  position: relative;
}

.clearfooter{
  height: 330px;
  clear: both;
}