#header{
  text-align: center;
  font-size: 20px;
  border-bottom: 3px solid;
  background-color: red;
  top: 0;
  display: inline-block;
  width: 100%
}

#columns{
  column-count: 2;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  border-bottom: 1px solid;
}

#search{
  display: inline-block;
  margin-top: 10px;
  border: 1px solid;
  padding: 2px;
  margin-left: 90em;
  padding-right: 135px;
  background-color: yellow;
}

#blog-t{
  display: inline-block;
  padding: 3px;
  border: 2px solid;
  margin-left: 35em;
  margin-right: 15em;
  border-radius: 10px;
  font-size: 20px;
}

#blog-c{
  display: inline-block;
  border: 2px solid;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 10px;
  font-size: 20px;
}