#header{
  text-align: center;
  font-size: 20px;
  border-bottom: 3px solid;
  background-color: red;
  top: 0;
  display: inline-block;
  width: 100%
}

#columns{
  column-count: 2;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  border-bottom: 1px solid;
}

#search{
  display: inline-block;
  margin-top: 5px;
}
