#header{
  text-align: center;
  font-size: 35px;
  border-bottom: 3px solid;
  top: 0;
  display: inline-block;
  width: 100%;
  font-weight: bolder;
}

#columns{
  column-count: 2;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  width: 25%;
  margin-left: 40%;
}

#search{
  display: inline-block;
  margin-top: 10px;
  border: 1px solid;
  padding: 2px;
  margin-left: 85em;
  padding-right: 135px;
}

#blog-t{
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid;
  margin-left: 25em;
  margin-right: 15em;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

#blog-c{
  display: inline-block;
  border: 2px solid;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

#post1{
  border: 2px solid;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 20em;
  margin-right: 20em;
  padding: 4px;
}

#post2{
  border: 2px solid;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 20em;
  margin-right: 20em;
  padding: 4px;
}

h3{
  margin: 0;
}

p{
  margin: 8px;
}

section h2{
  text-align: center;
}

h4{
  text-align: center;
  border-top: 1px solid;
  padding-top: 5px;
  width: 100%;
}

h5{
  text-align: center;
}